/* General styles begin */
/* ----------------------------------------------- */
/* BASIC SETUP begin */
/* ----------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

/* ----------------------------------------------- */
/* BASIC SETUP end */
/* ----------------------------------------------- */

/* Font Begin */

@font-face {
  font-family: hero-font;
  src: url(/vendor/font/Viaoda_Libre/ViaodaLibre-Regular.ttf);
}

@font-face {
  font-family: basic-font;
  src: url(/vendor/font/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: meta-font;
  src: url(/vendor/font/Roboto/Roboto-BoldItalic.ttf);
}

h1 {
  font-family: hero-font;
  text-transform: capitalize;
  font-size: 45px;
  color: #ffffff;
}

h2 {
  font-family: basic-font;
  text-transform: capitalize;
  font-size: 25px;
  color: #80b435;
}

#meta-data {
  font-family: meta-font;
  text-transform: capitalize;
  font-size: 13px;
  color: #405a1a;
}

p {
  font-family: basic-font;
  font-size: 16px;
  line-height: 1.6;
  color: #545454;
}

button {
  font-family: basic-font;
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
}

/* Font End */

/* General styles end */

/* header styles start */

/* Navbar styles begin*/

.navbar-brand {
  width: 97vw;
  position: absolute;
  top: 0;
}

#nav-logo {
  display: block;
  margin: auto;
}

/* navbar-nav and nav-item begin */

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav {
    margin-top: 150px;
    position: relative;
    text-align: center;
    top: 50%;
    left: 52%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  #navbarNav > ul > li {
    padding-right: 90px;
    text-align: inherit;
  }
}
/* navbar-nav and nav-item end */
.navbar-nav {
  padding-top: 10px;
}

.nav-item {
  padding-right: 0px;
  text-align: center;
}

.navbar-toggler {
  margin-top: 120px;
}

/* Overrirden bootstrap styles begin */

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: #80b435;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #80b435;
}

.navbar-light .navbar-nav .nav-link {
  color: #545454;
}

/* Overrirden bootstrap styles begin */

/* Navbar styles end*/

/* Hero Banner Styles Start */

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("/uploads/Green-Garden-hero-banner-min.png");

  /* Set a specific height */
  height: 35vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Hero Banner Styles End */

/* header styles End */

/* footer styles begin */
footer {
  background-color: #e8e8e8;
  min-height: 281px;
}

#copy-right {
  display: block;
  font-family: basic-font;
  text-transform: capitalize;
  font-size: 11px;
  color: #545454;
}
/* footer styles end */
