/* footer styles begin */
// footer {
//   background-color: #e8e8e8;
//   min-height: 281px;
// }

// #copy-right {
//   display: block;
//   font-family: basic-font;
//   text-transform: capitalize;
//   font-size: 11px;
//   color: #545454;
// }
/* footer styles end */
