.hero-banner {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  &__overlay {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

    &-image {
      position: relative;
      display: block;
      z-index: -1;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
      height: auto;
    }
  }

  &__title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
  }
}
